.main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'voteColumn title_and_url'
    'voteColumn bottom';
  gap: 3px;
  padding-bottom: 3px;
}

.voteColumn {
  grid-area: voteColumn;
  display: flex;
}

.upvote:hover {
  cursor: pointer;
}

.title_and_url {
  grid-area: title_and_url;
  display: flex;
  gap: 3px;
  font-size: small;
}

.url {
  font-size: small;
}

.bottom,
.bottom a {
  grid-area: bottom;
  font-size: small;
  color: gray;
}

a:hover {
  text-decoration: underline;
}

.title_and_url > .title {
  text-decoration: none;
}

.favourite:hover {
  text-decoration: underline;
  cursor: pointer;
}
